.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.container label {
  font-size: 1.25rem;
}

.container input {
  padding: 0.75em 1em;
  border: none;
  width: 30%;
  border-radius: var(--border-radius);
  background: #242629;
  color: white;
}

.container input:hover,
.container input:focus {
  border: 1px solid white;
  transition: 0.3s;
}

