.todo_container {
  background: var(--card-background);
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(150px, 400px) minmax(
      50px,
      100px
    );
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  height: 125px;
}

.todo_container h3 {
  color: var(--green);
  margin: 0;
}

.todo_container.done {
  opacity: 0.3;
}

.todo_options {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

.todo_options button {
  border: none;
  border-radius: var(--border-radius);
  background: none;
  padding: 0.25em;
  font-size: 1.25em;
  transition: 0.3s;
}
.link {
  transition: 0.3s;
  font-size: 1.25rem;
}

.todo_desc {
  color: var(--light-gray);
}

.todo_option {
  color: var(--button-color);
  cursor: pointer;
}

.todo_option > *:hover {
  fill: white;
}

@media (max-width: 550px) {
  .todo_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70vw;
  }
}
